
* {
    margin: 0;
    padding:0;
}

body {
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container {
 width: 400px;
 height: 700px;
 background-color: white;
 
}
.logo {
    width: 70%;
}
.second-container {
    text-align: center;
    margin: 10px;
}

.first-container {
    text-align: center;
    padding: 20px 30px;  
    
}

input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: blue;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
}